# Name of your application. Used to uniquely configure containers.
service: ReceiptFlow

# Name of the container image.
image: sirmonteiro/receiptflow

# Deploy to these servers.
servers:
  web:
    - 168.138.133.66
  # job:
  #   hosts:
  #     - 192.168.0.1
  #   cmd: bin/jobs

# Enable SSL auto certification via Let's Encrypt and allow for multiple apps on a single web server.
# Remove this section when using multiple web servers and ensure you terminate SSL at your load balancer.
#
# Note: If using Cloudflare, set encryption mode in SSL/TLS setting to "Full" to enable CF-to-app encryption.
proxy:
  ssl: false
  host: receiptflow.gabrielsouza.top
  forward_headers: true
  # Proxy connects to your container on port 80 by default.
  # app_port: 3000

# Credentials for your image host.
registry:
  # Specify the registry server, if you're not using Docker Hub
  server: ghcr.io
  username: sirmonteiro

  # Always use an access token rather than real password (pulled from .kamal/secrets).
  password:
    - KAMAL_REGISTRY_PASSWORD

# Configure builder setup.
builder:
  arch: arm64
  local: false
  remote: ssh://docker@168.138.133.66
  # Pass in additional build args needed for your Dockerfile.
  args:
    RUBY_VERSION: 3.4.6
  secrets:
    - KAMAL_REGISTRY_PASSWORD
    - RAILS_MASTER_KEY
  #   RUBY_VERSION: <%= ENV["RBENV_VERSION"] || ENV["rvm_ruby_string"] || "#{RUBY_ENGINE}-#{RUBY_ENGINE_VERSION}" %>

# Inject ENV variables into containers (secrets come from .kamal/secrets).
#
env:
  clear:
    DB_HOST: ReceiptFlow-postgres
    POSTGRES_USER: ReceiptFlow
    POSTGRES_DB: ReceiptFlow_production
  secret:
    - POSTGRES_PASSWORD
    - RAILS_MASTER_KEY
    - KAMAL_REGISTRY_PASSWORD

# Aliases are triggered with "bin/kamal <alias>". You can overwrite arguments on invocation:
# "bin/kamal app logs -r job" will tail logs from the first server in the job section.
#
# aliases:
#   shell: app exec --interactive --reuse "bash"

# Use a different ssh user than root

ssh:
  user: docker

# Use a persistent storage volume.
#
# volumes:
#   - "app_storage:/app/storage"

# Bridge fingerprinted assets, like JS and CSS, between versions to avoid
# hitting 404 on in-flight requests. Combines all files from new and old
# version inside the asset_path.
#
# asset_path: /app/public/assets

# Configure rolling deploys by setting a wait time between batches of restarts.
#
# boot:
#   limit: 10 # Can also specify as a percentage of total hosts, such as "25%"
#   wait: 2

# Use accessory services (secrets come from .kamal/secrets).
#
accessories:
#   db:
#     image: mysql:8.0
#     host: 192.168.0.2
#     port: 3306
#     env:
#       clear:
#         MYSQL_ROOT_HOST: '%'
#       secret:
#         - MYSQL_ROOT_PASSWORD
#     files:
#       - config/mysql/production.cnf:/etc/mysql/my.cnf
#       - db/production.sql:/docker-entrypoint-initdb.d/setup.sql
#     directories:
#       - data:/var/lib/mysql
#   redis:
#     image: valkey/valkey:8
#     host: 192.168.0.2
#     port: 6379
#     directories:
#       - data:/data
  postgres:
    image: postgres
    host: 168.138.133.66 # The IP you want the database deployed to
    env:
      clear:
        POSTGRES_USER: ReceiptFlow # Same as above
        POSTGRES_DB: ReceiptFlow_production # Same as above
      secret:
        - POSTGRES_PASSWORD # Comes from the .kamal/secrets file
    directories:
      - data:/var/lib/postgresql/data
